<h1>Insta Clone</h1>
<p>I'm learning Ruby on Rails and this website was developed following a tutorial from the "Malachi Rails" channel.</p>
<a href="https://www.youtube.com/watch?v=DhxLOC-9kW0&t=1678s" target=_blank>Give it try!</a>
